body {
 background: black;
 font-family: 'Montserrat', sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

li, i {
    margin-right: 5px;
}

img {
    width: 100px;
}
nav {
    padding: 5px;
    height: 85px !important;
}

span a {
  color:greenyellow;
  display: inline;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.tinner {
    height: 1px;
    width: auto;
}

.primary-bg-color {
    background-color: #06304b;
}

.secondary-bg-color {
    background-color: #ffce3f;
}

.auxiliar-1-color {
    background-color: #0094b6;
}

.hero-image {
    background: url("../images/hero-image2.jpg") center/cover;
    height: 100vh;
    position: relative;
}

.hero-image2 {
    background: url("../images/calendario.jpg") center/cover;
    height: 100vh;
    position: relative;
}

.hero-image-not-found {
    background: url("../images/404-hero.jpeg") center/cover;
    height: 100vh;
    position: relative;
}

.hero-body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 60%;
}

.hero-body-calendario {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 30%;
}

h1, h6{
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    display: flex;
    justify-content: center;
}

.css-square {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.css-square:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.page-footer {
    background-color: #0094b6 !important
}

@media screen and (max-width: 900px) {
    .hero-body {
        font-family: 'Roboto', sans-serif;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 81%;
        width: 47%;
        padding-left: 40px;
    }
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.clients {
    width: auto;
}
